.cart_total
{
    font-family: Xolonium;
    font-size: 1.25rem;
    margin: 1rem 0.5rem 0 0.5rem;
}

.cart_total div
{
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
}

.cart_total div img
{
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.2rem;
}

.cart_total_header
{
    font-size: 1.75rem;
}