.cart {
  max-height: 100vh;
  min-width: 15%;
  background-color: #f4f4f4;
  border: 0.2rem solid #303030;
  flex: 1 1 150px;
  overflow-y: scroll;
}

@media screen and (max-width: 750px) {
  .cart {
    height: 30vh;
  }
}
